:root {
    --tvmenu-panel-bg: rgba(0, 0, 0, 0.5);
    --tvmenu-panel-mw: 700px;
}

body {
    background: black;
    color: white;
}

tvm-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 0; left: 0;
    background: var(--tvmenu-panel-bg);
    overflow-y: auto;
}

tvm-panel h1 {
    font-size: 3em;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    max-width: var(--tvmenu-panel-mw);
}

tvm-panel tvm-section {
    display: none;
}

tvm-panel tvm-section.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    max-width: var(--tvmenu-panel-mw);
}

tvm-panel tvm-item {
    display: flex;
    width: 100%;
}

tvm-panel tvm-item .icon {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

tvm-panel tvm-item .icon * {
    width: 2em;
    height: 2em;
    font-size: 3em !important;
}

tvm-panel tvm-item .right {
    width: 100%;
    max-width: 100%;
}

tvm-panel tvm-item .right h5 {
    width: 100%;
    margin: 7px;
}